@import "partials/_games";
@import "partials/_gamesDetail";


.layout {
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
}

.navbar {
  background-color: #553f79;
  border-bottom: 2px solid white;
  font-size: 25px;
}

.navbar-brand {
  font-size: 30px;
  margin-right: 30px;
  letter-spacing: 5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 10px;
}

.errorMessage {
  color: #ff47b4;
  letter-spacing: 0.5px;

}

body {
  background: rgb(44,0,85);
  background: linear-gradient(151deg, rgba(44,0,85,1) 0%, rgba(90,45,163,1) 48%, rgba(118,1,120,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #79cadd;
  text-shadow: 3px 3px 5px black;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.form-control {
  font-weight: bold;
  color: black;
}

.card-img-top {
  width: 100%;
  height: 220px;
  padding: 10px;
  text-align: center;
}

.form-label {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

form {
  margin-top: 50px;
}

.filter {
  font-size: 30px;
  color: white;
  letter-spacing: 4px;
}