.detail-image {
    width: 200%;
    border: 2px solid white;
}

.detailImg {
    border: 2px solid white;
}

p {
    color: white;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.row {
    margin-bottom: 30px;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
    color:#79cadd;
}